data/DAPI/measurements/mouse[[:space:]]features.csv filter=lfs diff=lfs merge=lfs -text
data/DAPI/measurements/human[[:space:]]features.csv filter=lfs diff=lfs merge=lfs -text
data/H&E/measurements/mouse[[:space:]]features.csv filter=lfs diff=lfs merge=lfs -text
data/H&E/measurements/human[[:space:]]features.csv filter=lfs diff=lfs merge=lfs -text
data/H&E/measurements/human[[:space:]]tumor[[:space:]]features.csv filter=lfs diff=lfs merge=lfs -text
